{% load static %}
<section id="hero" class="hero section light-background">

    <img src="{% static 'portfolio/img/code-3637299_1280.jpg' %}" class="hero-img" alt="">

    <div class="container" data-aos="zoom-out">
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <h2 class="sitename"></h2>
          <p>I'm <span class="typed" data-typed-items="Programmer, Web Developer, Mobile Developer, Desktop Developer">Programmer</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
          <div class="social-links">
            <a href="#"><i class="bi bi-twitter-x"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>

  </section>
  {% block script %}
  <script src="{% static 'portfolio/js/jquery.js' %}"></script>
  <script>
    // Variabel global
    let profil = {};

    $(function() {
      // Ambil data profil sekali saja
      $.getJSON("{% url 'profil_api_url' %}", function(response) {
        profil = response.data || {};

        // Gunakan data setelah ter-load
        $('.sitename').text(profil.nama || 'Tanpa Nama');

      }).fail(function(xhr, status, error) {
        console.error("Gagal memuat profil:", error);
      });
    });

  </script>
  {% endblock %}
