{% load static %}
<style>
  .portfolio-item img {
  width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: contain;
}

</style>
<section id="portfolio" class="portfolio section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Portfolio</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

        <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-project">Projects</li>
        </ul><!-- End Portfolio Filters -->

        <div class="row d-flex justify-content-center gy-4 content-portfolio" data-aos="fade-up" data-aos-delay="200">
        </div><!-- End Portfolio Container -->

      </div>

    </div>

  </section>

  {% block script %}
   <script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>
  <script src="{% static 'portfolio/js/jquery.js' %}"></script>
  <script>
    // Variabel global


     $(function () {
      $.getJSON("{% url 'project_api_url' %}", function (response) {
        const data = response.data || [];

        data.forEach(item => {
          const firstImage = item.images.length > 0 ? item.images[0].image_url : '{% static "default-image.jpg" %}';
          const title = item.project || 'No Title';
          const description = item.deskripsi || 'No Description';
          const detailLink = item.link || '#';

          const portfolioElement = `
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-project">
              <img src="${firstImage}" class="img-fluid" alt="${title}">
              <div class="portfolio-info">
                <h4>${title}</h4>
                <p>${description}</p>
                <a href="${firstImage}" title="${title}" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="${detailLink}" title="More Details" class="details-link">
                  <i class="bi bi-link-45deg"></i>
                </a>
              </div>
            </div>
          `;

          $('.content-portfolio').append(portfolioElement);
        });

        // Inisialisasi GLightbox setelah DOM update
        GLightbox({ selector: '.glightbox' });

      }).fail(function (xhr, status, error) {
        console.error("Gagal memuat portfolio:", error);
      });
    });

  </script>
  {% endblock %}