{% load static %}
<section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Resume</h2>
      <p>Saya memiliki beberapa pengalaman dan pendidikan berikut</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row">

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

          <h3 class="resume-title">Education</h3>
          <div class="content-resume-items"></div>

        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="content-profesional-items"></div>

        </div>

      </div>

    </div>

  </section>


  {% block script %}
  <script src="{% static 'portfolio/js/jquery.js' %}"></script>
  <script>
    // Variabel global


    $(function () {
      $.getJSON("{% url 'pendidikan_api_url' %}", function (response) {
        const profil = response.data || {};

        // Tampilkan data profil
        response.data.forEach(item => {
          const pendidikanElement = `
            <div class="resume-item">
              <h4 class="bold text-primary">${item.pendidikan}</h4>
              <h5><strong>Tahun Lulus</strong> : <span class="text-danger">${item.tahun_lulus}</span></h5>
            </div>
          `;
          $('.content-resume-items').append(pendidikanElement);
        })


      }).fail(function (xhr, status, error) {
        console.error("Gagal memuat profil:", error);
      });
    });

    $(function () {
      $.getJSON("{% url 'pengalaman_api_url' %}", function (response) {
        const profil = response.data || {};

        // Tampilkan data profil
        response.data.forEach(item => {
          let durasiKerja = '';

          if (item.tanggal_mulai) {
            const mulai = new Date(item.tanggal_mulai);
            const selesai = item.tanggal_selesai ? new Date(item.tanggal_selesai) : new Date();

            // Hitung selisih tahun dan bulan
            let tahun = selesai.getFullYear() - mulai.getFullYear();
            let bulan = selesai.getMonth() - mulai.getMonth();

            if (bulan < 0) {
              tahun -= 1;
              bulan += 12;
            }

            durasiKerja = `${tahun > 0 ? tahun + ' tahun' : ''}${tahun > 0 && bulan > 0 ? ', ' : ''}${bulan > 0 ? bulan + ' bulan' : ''}`;
          }

          const profesionalElement = `
            <div class="resume-item">
              <h4 class="bold text-primary">${item.pengalaman}</h4>
              <h5><strong>Lama kerja</strong>: ${item.tanggal_mulai} - ${item.tanggal_selesai ?? 'Sampai sekarang'} <span class="text-danger">( ${durasiKerja} )</span></h5>
            </div>
          `;
          $('.content-profesional-items').append(profesionalElement);
        });

      }).fail(function (xhr, status, error) {
        console.error("Gagal memuat profil:", error);
      });
    });




  </script>
  {% endblock %}